html {
  background-color: #191d32ff;
}
.file-input {
  display: none;
}

.primary {
  color: #191d32ff;
}

.secondary {
  color: #ffe97bff;
}

.tertiary {
  color: #e2c2c6ff;
}

.primary-bg {
  background-color: #191d32ff;
  color: #fff;
}

.secondary-bg {
  background-color: #ffe97bff;
  color: #191d32ff;
}
